.projects {
  margin-bottom: $section-margin;
  @media (max-width: $bp-tablet) {
    margin-bottom: $section-margin-tablet;
  }
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      font-size: 88px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px;
      letter-spacing: -2.5px;

      color: var(--text-color);
      @media (max-width: $bp-tablet) {
        font-size: 72px;
      }
      @media (max-width: $bp-phone-mid) {
        font-size: 40px;
      }
    }
  }
  &-slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 5%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 95%,
      transparent
    );
  }

  &-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 32px;

    &-slider {
      animation: slide-infinite 40s linear infinite;
      width: fit-content;
      will-change: transform;

      &:hover {
        animation-play-state: paused;
      }
    }

    @keyframes slide-infinite {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-50% - 16px));
      }
    }

    &-card {
      flex-shrink: 0;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      @media (min-width: $bp-tablet) {
        width: 220px;
      }
      @media (min-width: $bp-notebook) {
        width: 250px;
      }
      @media (max-width: $bp-phone-mid) {
        width: 180px;
      }
      &-img {
        max-width: 135px;
        filter: grayscale(1);
        object-fit: contain;

        &-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 160px;
          background: #fff;
          border-radius: 16px;
          padding: 4px;
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
          &:hover {
            .projects-list-card-img {
              transform: scale(1.2);
              transition: transform 300ms ease-in-out;
            }
          }
        }
      }
      &-link {
        text-decoration: none;
      }
      &-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;

        color: var(--text-color);
        max-width: fit-content;
        margin: $card-text-margin 0;
        &::after {
          content: "";
          border-bottom: 2px solid var(--purple-underline);
          display: block;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
      }
      &-tecnologies {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        color: var(--text-color);
        max-width: fit-content;
        &-item {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          margin-right: 18px;
          &::after {
            content: "";
            border-bottom: 2px solid var(--purple-underline);
            display: block;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
          }
        }
      }

      &:hover {
        .projects-list-card-title::after {
          transform: scaleX(1);
          transform-origin: 0% 50%;
        }
        .projects-list-card-tecnologies-item::after {
          transform: scaleX(1);
          transform-origin: 0% 50%;
        }
      }
    }
  }
}
