.contact-me-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--text-color);
  text-decoration: none;

  border-bottom: 2px solid var(--purple-underline);
  max-width: fit-content;
}
