.header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: transparent;
  width: 1110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: all 0.2s ease-in-out;
  top: 0;
  @media (max-width: $bp-phone-mid) {
    flex-direction: column;
  }
  // &.down {
  //   @media (max-width: $bp-tablet) {
  //     top: 35px;
  //   }
  // }
  // &.up {
  //   top: -100%;
  // }
  &-title {
    height: auto;
    color: var(--text-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.444px;
    @media (max-width: $bp-phone-mid) {
      margin: 16px;
    }
  }
  &-socials {
    display: flex;
    flex-direction: row;
    &-link {
      margin-right: 30px;
      list-style: none;
    }
  }
  &-theme {
    &-toggle {
      background: transparent;
      border: 0;
      height: auto;
      width: auto;
      padding: 0;
      cursor: pointer;
    }
  }
}
