.theme {
  transition-duration: 1000ms;
  transition-timing-function: ease;
  &.dark {
    background-color: $black;
    //Dark Variables
    --text-color: #fff;
    --purple-underline: #6c1bf0;
    --component-spliter: #fff;
  }
}
