//Colors
$primary-color: #bdff91;

$white: #fff;
$black: #151515;
$gray: #242424;
$purple: #6c1bf0;

//Widths

$section-container: 1110px;
$section-margin: 64px;

$text-padding: 48px;

$card-text-margin: 14px;

$form-input-margin: 7px;
