.wellcome {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  height: 720px;
  margin-bottom: $section-margin;
  &-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 720px;
    z-index: 1;
    &-title {
      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px;
      letter-spacing: -2.5px;
      color: var(--text-color);

      margin: 0;
      span {
        border-bottom: 5px solid var(--purple-underline);
      }
    }
    &-subtitle {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      color: var(--text-color);
      padding: $text-padding 0;
      max-width: 580px;
    }
  }
  &-image {
    position: absolute;
    right: 0;
    animation: 0.7s ease-out 0s 1 slideInFromTop;
  }
}

.theme {
  &.dark {
    .wellcome {
      &-image {
        filter: grayscale(1);
      }
    }
  }
}
